:root {
    --primary-color: #FED001;
}

html {
    font-size: 62.5%; /* Define 1rem como 10px */
    font-family: 'Inter', sans-serif;
    
}

p,
a {
    font-size: 1.6rem;
}

.upper {
    text-transform: uppercase;
}

.wrapperContainer-dark {
    background-color: var(--primary-color); /* Usando a variável de cor primária */
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #003464;
}
